<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/generic_header.ejs %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Liubov Zelenaia</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="./labs">Labs</a></li>
           <li><a href="/contact">My details</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
  <div class="container">
    <div>
      <h1>Study portfolio</h1>
      <p class="lead">This is my student portfolio for Interactive Multimedia programming course.
      <p>You can find all the labs from the menu above.</p>
    </div>

  </div>
  <% include ../partials/generic_body_end.ejs %>
</body>
</html>
