<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/generic_header.ejs %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Liubov Zelenaia</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
           <li class="active"><a href="/labs">Labs</a></li>
           <li><a href="/contact">My details</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
  <div class="container">
    <div>
      <h1>Lab1</h1>
      <p class="lead">This first lab was pretty easy for me. I didn't use much time at home to do this.</p>
      <p>The most difficult part for me was to understand how to implement the to do list without any servers.
        But in the end it was pretty easy with client side Javascript.</p>
      <h2>Assignment 1</h2>
      <ul>
      <li><p><strong>HTML </strong>is the standard language of web documents. Most web documents are described with the syntax of HTML language. This language is converted by browsers and a formatted text is showed on a screen.  </li>
      <li><p><strong>CSS </strong>is cascade style sheets which define how an HTML file will be presented. It defines how a document will look like.  </li>
      <li><p><strong>Javascript </strong>is the language designed to make a web document interactive. With Javascript, a web designer can create an application and import it to HTML file.</li>
      <li><p><strong>HTTP </strong>is the transmission protocol which exists to let everyone to get a web page from Internet. </li>
	  <li><p><strong>HTML5  </strong>is the new open platform designed to create web applications using audio, video, graphics, animation and etc. </li>
	  <li><p><strong>Dynamic HTML (DHTML) </strong>is a way to create an interactive web document using HTML, Javascript, CSS and DOM to make a web page look and act like desktop applications. </li>
      </ul>
      <h2>Assignment 2</h2>
      <p><strong>Write down what is your understanding of the coding conventions. Why they are important to follow? What kind of conventions you are going to use.</strong></p>
	  Coding conventions are a set of rules used to create a source code in some programming language. It makes easier to understand and support a source code, written by a number of programmers. 
		 I am goning to use coding conventions like naming and declaration of variables and functions; the use of white space, indentation, and comments.
      <h2>Assignment 3</h2>
      <ul>
        <li><strong>a. </strong>You can find the simple html5 document from <a href="/simple_html5">here</a>. </li>
        <li><strong>b. </strong>Modified version can be found <a href="/html5">here.</a></li>
      </ul>
      <h2>Assignment 4</h2>
	  <p>You can find the simple person list web application from <a href="/addPerson">here</a>.</p>
	  <h2>Assignment 5</h2>
	  <p>A simple hello word on node.js <br><img src="/img/hello.png"></img></p>
    </div>

  </div>
  <% include ../../partials/generic_body_end.ejs %>
</body>
</html>
