<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/dynamic_style.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="/js/dynamic_jquery.js"></script>
<title>Add Person</title>
</head>
<body>
<div id="myDIV" class="header">
  <h2 style="margin:5px">Person list</h2>
  <input type="text" id="myInput" placeholder="Input name">
  <span  id="addBtn" class="addBtn">Add</span>
</div>
<ul id="myUL">
</ul>
</body>
</html>

