<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title>The simple audio stream</title>
    </head>
    <body>
        <audio controls>
    <source src="http://stream.basso.fi:8000/stream" />
</audio>
</body>
</html>