<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
<script src="/js/myjs.js"></script>
<title>An example of HTML5</title>
</head>
<body>
	<h1>A simple HTML5 document.</h1> 
	<input type="button" onclick="button_change()" value="Click!">
</body>
</html>