<!DOCTYPE html>
<html lang="en">
<head>
<body>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/pnt_style.css">
<title>Simple HTML document</title>
</head>
</body onload="load()">

<div class="wrapper">
<canvas id="helpCanvas" width= "300pt" height="567pt" style="border: 1px solid black;"></canvas>
<canvas id="drawingCanvas"  width= "300pt" height="567pt" style="border: 1px solid black;"></canvas>
</div>

<script src="/js/paint.js"></script>

</body>
</html>
